.env
__pycache__
worker/temp/audio.*
worker/model/*
api_client/input/*

# Logs
ui_server/logs
ui_server/*.log
ui_server/npm-debug.log*
ui_server/yarn-debug.log*
ui_server/yarn-error.log*
ui_server/pnpm-debug.log*
ui_server/lerna-debug.log*

ui_server/node_modules
ui_server/dist
ui_server/dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
